/* ===========================
   Background Colors
   =========================== */

/* Light Theme */
body.light-theme {
  background-color: #ffffff;
}

/* Dark Theme */
body {
  background-color: #000000;
}
