/* ===========================
   Background Colors
   =========================== */

/* Light Theme */
body.light-theme {
  --bg-color: #ffffff;
  background-color: var(--bg-color);
}

/* Dark Theme */
body {
  --bg-color: #000000;
  background-color: var(--bg-color);
}
