/* ===========================
   Background Colors
   =========================== */

/* Light Theme */
body.light-theme {
  background-color: #f5f5f5;
}

/* Dark Theme */
body {
  background-color: #0a0a0a;
}
